# directories
bin/*
build/*
cache/*
cfg/*
data/*
feedback/*
matlab/*
lib/*
images/*
results/*
weights/*

# temp files
*~
*#*

# file types
*.zip
*.tar.gz
*.csv
*.obj
*.pyc
*.recv
*.send
.DS_Store
*.stp

# secret files
client_secrets.json
oauth2.dat

# common outputs
profile.txt

#log files
.log
