# directories
bin/*
build/*
feedback/*
matlab/dependencies/*
lib/*
images/*

# temp files
*~
*#*

# file types
*.zip
*.tar.gz
*.csv
*.obj
*.pyc
*.recv
*.send
.DS_Store

# secret files
client_secrets.json
oauth2.dat

# common outputs
profile.txt
